<br/>
<div class="row row-wrap">
<h3>Недвижимость в Турции от застройщика</h3>
<div class="col-md-12">
<p>
    У нас собраны лучшие предложения по недвижимости, расположенной в таких известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья, Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры, престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и дома. 
</p>
<p>
Почему это выгодно? Наше агентство представляет собственные проекты жилых комплексов, 
застройщиком которых выступает крупная строительная компания «Торослар 
Констракшн» (Toroslar Construction).  Это позволяет нам предлагать недвижимость по очень выгодным ценам от 
застройщиков и на гибких условиях, включая возможности инвестирования на этапе 
строительства.  Мы напрямую сотрудничаем с рядом ведущих строительных компаний 
Анатолийского региона, с которыми придерживаемся политики «выгодно и удобно для 
клиента». 
</p>
</div>
</div>
<div class="row row-wrap">
<h3>Горячие предложения</h3>
<% @projects.each do |project| %>
    <div class="col-md-4">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img" href="<%= project_category_project_path(project.project_category.id, project) %>">
                    <img src="<%= project.avatar.normal %>"  />
                    <h5 class="hover-title-center">Подробнее</h5>
                </a>
            </header>
            <div class="thumb-caption">
                <h5 class="thumb-title"><a class="text-darken" href="<%= project_category_project_path(project.project_category.id, project) %>"><%= project.name %>  (id:<%= project.sku %>)</a></h5>
                <p class="mb0"><i class="fa fa-map-marker"></i>  <%= project.project_category.title%> &nbsp;
                <i class="fa fa-institution"></i>  <%= project.rooms %> </small>
                </p>
                <% if project.start_price != '0' %>
                <p class="mb0 text-darken"><small>от </small><span class="text-lg lh1em text-color"><%= project.start_price %> &euro;</span><small> до </small>
                <span class="text-lg lh1em text-color"><%= project.final_price %> &euro;</span></p>
                <% else %>
                <p class="mb0 text-darken">
                <span class="text-lg lh1em text-color"><%= project.final_price %> &euro;</span></p>
                <% end %>
            </p>
        </div>
    </div>
    </div>

<% end %>
</div>
<div class="row row-wrap">
<h3>Почему выгодно приобретать недвижимость в Турции ?</h3>
<div class="col-md-12">
<p>
    У нас собраны лучшие предложения по недвижимости, расположенной в таких известных курортных районах и городах Турции, как Аланья, Белек, Сиде, Анталья, Кемер, Каш, Бодрум и иных привлекательных регионах южного побережья. Мы с радостью подберем для Вас небольшие «студио», просторные квартиры, престижные апартаменты, шикарные пентхаузы, а также роскошные виллы и дома. 
</p>
<p>
Почему это выгодно? Наше агентство представляет собственные проекты жилых комплексов, 
застройщиком которых выступает крупная строительная компания «Торослар 
Констракшн» (Toroslar Construction).  Это позволяет нам предлагать недвижимость по очень выгодным ценам от 
застройщиков и на гибких условиях, включая возможности инвестирования на этапе 
строительства.  Мы напрямую сотрудничаем с рядом ведущих строительных компаний 
Анатолийского региона, с которыми придерживаемся политики «выгодно и удобно для 
клиента». 
</p>
</div>
</div>