<p id="notice"><%= notice %></p>

<h1>Listing Project Application Mails</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_application_mails.each do |project_application_mail| %>
      <tr>
        <td><%= link_to 'Show', project_application_mail %></td>
        <td><%= link_to 'Edit', edit_project_application_mail_path(project_application_mail) %></td>
        <td><%= link_to 'Destroy', project_application_mail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project application mail', new_project_application_mail_path %>
