<div class="row row-wrap">
<% @projects.each do |project| %>
    <div class="col-md-4">
        <div class="thumb">
            <header class="thumb-header">
                <a class="hover-img" href="<%= project_category_project_path(project.project_category.id, project) %>">
                    <img src="<%= project.avatar.normal %>"  />
                    <h5 class="hover-title-center">Подробнее</h5>
                </a>
            </header>
            <div class="thumb-caption">
                <h5 class="thumb-title"><a class="text-darken" href="<%= project_category_project_path(project.project_category.id, project) %>"><%= project.name %>  (id:<%= project.sku %>)</a></h5>
                <p class="mb0"><i class="fa fa-map-marker"></i>  <%= project.project_category.title%> &nbsp;
                <i class="fa fa-institution"></i>  <%= project.rooms %> </small>
                </p>
                <% if project.start_price != '0' %>
                <p class="mb0 text-darken"><small>от </small><span class="text-lg lh1em text-color"><%= project.start_price %> &euro;</span><small> до </small>
                <span class="text-lg lh1em text-color"><%= project.final_price %> &euro;</span></p>
                <% else %>
                <p class="mb0 text-darken">
                <span class="text-lg lh1em text-color"><%= project.final_price %> &euro;</span></p>
                <% end %>
            </p>
        </div>
    </div>
    </div>

<% end %>
</div>