<header class="booking-item-header">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="lh1em"><%= @project.name %> (id: <%= @project.sku %>)</h2>
                            <!-- 
                            <p class="lh1em text-small"><i class="fa fa-map-marker"></i> 6782 Sarasea Circle, Siesta Key, FL 34242</p>
                            <ul class="list list-inline text-small">
                                <li><a href="#"><i class="fa fa-envelope"></i> Agent E-mail</a>
                                </li>
                                <li><a href="#"><i class="fa fa-home"></i> Agent Website</a>
                                </li>
                                <li><i class="fa fa-phone"></i> +1 (520) 466-9587</li>
                            </ul>
                            -->
                        </div>
                        <div class="col-md-5">
                            <% if @project.start_price != '0' %>
                                 <p class="booking-item-header-price"> от <span class="text-lg"><%= @project.start_price %> &euro;</span> до <span class="text-lg"><%= @project.final_price %> &euro;</span></p>
                            <% else %>
                                <p class="booking-item-header-price"> <span class="text-lg"><%= @project.final_price %> &euro;</span></p>
                            <% end %>
                        </div>
                    </div>
                </header>